name: Android APK Build

# Manuel olarak tetiklemek için
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Kodları çek
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Java kur
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # Gradle kur
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # APK build et
      - name: Build APK
        run: ./gradlew assembleDebug --stacktrace

      # APK'yı artifact olarak kaydet
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
