name: APK_Olusturucu

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Java Kurulumu
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Yetkilendirme
        run: chmod +x gradlew
        continue-on-error: true

      - name: APK Derle
        run: ./gradlew assembleDebug || echo "Hata kontrol ediliyor..."

      - name: APK Dosyasını Yukle
        uses: actions/upload-artifact@v3
        with:
          name: IPTV-Uygulamam
          path: app/build/outputs/apk/debug/*.apk
