name: APK_Olusturucu
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Java Kur
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Hazirla
        run: |
          # Dışarıda settings.gradle yoksa oluşturuyoruz ki app klasörünü görsün
          echo "include ':app'" > settings.gradle
          # Gradle sistemini kur
          gradle wrapper --gradle-version 8.0
          chmod +x gradlew

      - name: APK Derle
        run: ./gradlew assembleDebug

      - name: APK Yukle
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-Uygulamam
          path: app/build/outputs/apk/debug/*.apk
