name: Titan TV APK Build
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Get Date
        id: get-date
        run: |
          echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Buildozer dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip ant autoconf automake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install --user --upgrade buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          # Buildozer'ın yolu bazen path'e eklenmeyebiliyor
          export PATH=$PATH:$HOME/.local/bin
          # Yes komutuyla tüm lisansları otomatik kabul ediyoruz
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Titan-TV-Build-${{ steps.get-date.outputs.date }}
          path: bin/*.apk
